<?xml version="1.0" encoding="utf-8" ?>
<!--Modelo de App.Config-->
<configuration>
  <configSections>
    <!--Aquí hay una configuracion autogenerada-->
  </configSections>
  <!--Así debes configurar tu ConnectionString-->
  <connectionStrings>
    <add name="ConnectionString"
        connectionString="Data Source=(Servidor_de_Base_de_Datos);Initial Catalog=Nombre_de_la_BD;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <!--Aquí hay una configuracion autogenerada-->
  </startup>
</configuration>